// ================================
// == Company Team page styles
// ================================
.company-team {

  .section-hero__secondary {
    width: 100%;
    max-width: 710px;
    margin: 0 auto;
    padding: 0 $site-gutter-val;
  }

  .section-content__team {
    text-align: left;
    
    .section-side-bar {
      min-width: 175px;
    }

    .section-side-bar img {
      padding: 10px;
      background: #fff;
      border-radius: 4px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      margin-bottom: $site-gutter-val;
      max-width: 100px;
      
      @media screen and (min-width: $breakpoint_tablet) {
        max-width: 175px;
      }
      
      @media screen and (min-width: $breakpoint_common) {
        margin-bottom: 0;
      }
    }

    .site-copy--heading {
      margin-bottom: 10px;
      font-size: 22px;
      
      @media screen and (min-width: $breakpoint_tablet) {
        font-size: 26px;
      }
    }

  }
}

