.home {

  &__banner {
    background: #eae9ea;
    width: 100%;
    padding: 60px 0;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: inset  0 -15px 50px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: inset  0 -15px 50px -30px rgba(0,0,0,0.75);
    box-shadow: inset  0 -15px 50px -30px rgba(0,0,0,0.75);
    
    .site-copy,
    .section-hero__headline {
      text-align: center;
      margin: 0 auto;  
    }

    // h1 {
    //   font-size: 22px;
    //   font-weight: 300;
    //   color: #1b80c3;
    //   text-align: center;
    // }

    .site-copy {
      display: block;
      margin: 0 auto;
      max-width: 500px;
      font-weight: 300;
      color: #808080;
      text-align: center;
    }
  }

  &__ctas {
    padding: 70px 0;

    &--container {
      width: 50%;
    }

    &--icon {
      width: 125px;
      height: 125px;
      margin-right: 15px;
    }

    span {
      font-size: 18px;
      line-height: 24px;
      color: #595a5a;
      margin-bottom: 20px;
    }

    p {
      color: #808080;
      font-size: 13px;
      line-height: 18px;
      max-width: 280px;
    }

  }

}

.home-page {
  max-width: 1400px;
  
  .section-content {
    box-sizing: border-box;  
    padding: 0 $site-gutter-val;

    &__cell {
      display: flex;
      align-items: flex-start;
      padding-left: $site-gutter-val;
      padding-right: $site-gutter-val;
      
    }

    &-icon {
      max-width: 100px;
      margin: 0 20px 0 0;
      
      @media screen and (min-width: $breakpoint_tablet) {
        max-width: 150px;
      }
    }
    
  }
}
