// ================================
// == Product page styles
// ================================
.product {
  
  .section-content__cell {
    text-align: left
  }

  .section-hero {

    .section-content {
      box-sizing: border-box;
      padding: 0 $site-gutter-val;
      
      @media screen and (min-width: $breakpoint_common) {
        padding: 0;
      }
    }

    .site-copy--spc {
      width: 100%;
      max-width: 510px;
      margin: 0 auto;
      padding: 0 $site-gutter-val;
      font-weight: 300;
    }
  }

  &__vision {
    box-sizing: border-box;
    background: $site-grey;
    padding: $site-gutter-val;
    
    @media screen and (min-width: $breakpoint_common) {
      padding: $site-gutter-val--desktop;
    }

    .site-section {
      width: 100%;
      max-width: 570px;
      margin: 0 auto;
      padding: 0;
    }
  }

  .site-section--product-vision {
    margin-bottom: 0;
    
    .section-content__cell {
      display: flex;
      flex-direction: column;
      align-items: flex-start; 
      
      @media screen and (min-width: $breakpoint_common) {
        flex-direction: row;
      }
    }

    .section-content-icon {
      max-width: 100px;
      margin: 0 auto $site-gutter-val auto;
      
      @media screen and (min-width: $breakpoint_common) {
        margin: 0 10px 0 0;
      }
    }
  }

  .section-footer {

    padding: $site-gutter-val 0;

    &__content {
      max-width: 736px;
      padding: 0 20px;
    }

    .site-copy,
    .site-section__headline {
      color: #fff;
    }

    .site-section__headline {
      margin-bottom: 20px;
    }

    .site-copy--cite {
      width: 100%;
      max-width: 570px;
      margin: 0 auto;
      font-weight: 300i;
    }
  }

}
