// ================================
// == Technology page styles
// ================================
.technology {

  .section-hero__secondary {
    width: 100%;
    max-width: 359px;
    margin: 0 auto;
  }

  .site-section {
    margin-top: $site-gutter-val;
    margin-bottom: 0;

    &__headline {
      margin-top: $site-gutter-val;
      text-align: center;
    }

    &--link {
      margin-top: $site-gutter-val;
      margin-bottom: $site-gutter-val;
    }

    @media screen and (min-width: 960px) {
      margin-top: $site-gutter-val--desktop;

      &__headline {
        margin-top: $site-gutter-val--desktop;
      }

      &--link {
        margin-top: $site-gutter-val--desktop;
        margin-bottom: $site-gutter-val--desktop;
      }
    }
  }

  .section-content {
    margin-top: 0;

    &__cell {
      text-align: left
    }
  }

  .section-footer {

    &__content {
      max-width: 450px;
    }

    .site-section {
      margin-top: $site-gutter-val;

      &__headline {
        color: #fff;
      }

      @media screen and (min-width: 960px) {
        margin-top: $site-gutter-val--desktop;
      }
    }

    .site-copy {
      color: #fff;
    }

    .section-form {
      margin-top: $site-gutter-val;
      margin-bottom: $site-gutter-val;

      @media screen and (min-width: 960px) {
        margin-top: $site-gutter-val--desktop;
        margin-bottom: $site-gutter-val--desktop;
      }
    }
  }

}
