// ================================
// == layout ======================
// ================================
// colors
$site-blue: #74b0d8;
$site-blue--dark: #1b80c2;
$site-grey: #eae9ea;
$site-copy-grey: #595a5a;

// box model
$site-max-width: 1200px;
$site-content-max-width: 960px;
$site-gutter-val: 30px;
$site-gutter-val--desktop: 50px;

// typography
$site-font-proxima: 'Proxima Nova', sans-serif;
$site-font-proxima--light: 'proxima_nova_ltthin', sans-serif;
$site-font-proxima--semi-bold: 'proxima_nova_ltsemibold', sans-serif;
$site-font-proxima--bold: 'proxima_nova_altbold', sans-serif;
$site-font-proxima--black: 'proxima_nova_altblack', sans-serif;

$site-font-montserrat: 'Montserrat', sans-serif;

.site-copy {
  font-family: $site-font-montserrat;
  font-size: 16px;
  line-height: 24px;
  color: $site-copy-grey;

  &--lrg {
    font-size: 22px;
    line-height: 30px;
  }

  &--link {
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 2px;
    color: $site-blue--dark;
    text-transform: uppercase;

    &:after {
      position: relative;
      top: 3px;
      display: inline-block;
      content: '';
      width: 20px;
      height: 20px;
      margin-left: 10px;
      background: url('assets/img/icon-cta-arrow.png')no-repeat center center;
      background-size: contain;
    }
  }

  &--cite {
    font-family: $site-font-montserrat;
    font-weight: 300i;
    font-size: 12px;
    line-height: 22px;
  }
}

// top page section blue background hero
.section-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: $site-blue;

  &__content {
    box-sizing: border-box;
    width: 100%;
    max-width: 90%;
    margin: $site-gutter-val auto;
    padding: $site-gutter-val 0;
    background: #fff;
    border-radius: 4px;
    text-align: center;

    @media screen and (min-width: 1060px) {
      max-width: $site-content-max-width;
      padding: $site-gutter-val--desktop;
    }
  }

  &__divider {
    display: block;
    width: 200px;
    height: 2px;
    margin: 0 auto 20px auto;
    padding: 0;
    background: $site-blue;
  }

  &__headline {
    font-family: $$site-font-montserrat;
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
    color: $site-blue;

    &--sml {
      font-family: $site-font-montserrat;
      font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      color: $site-copy-grey;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}

// bottom page blue section
.section-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: $site-blue--dark;

  &__content {
    width: 100%;
    max-width: $site-content-max-width;
    margin: 0 auto;
    padding: $site-gutter-val 0;
    color: #fff;
    text-align: center;

    @media screen and (min-width: 960px) {
      padding: $site-gutter-val--desktop 0;
    }
  }
}

// general "max-width-ed" sections
.site-section {
  box-sizing: border-box;
  width: 100%;
  max-width: $site-content-max-width;
  margin: 0 auto $site-gutter-val auto;
  padding: 0 $site-gutter-val;
  text-align: center;

  @media screen and (min-width: 960px) {
    margin: 0 auto $site-gutter-val--desktop auto;
    padding: 0 $site-gutter-val--desktop;
  }

  &__headline {
    font-family: $site-font-montserrat;
    font-size: 28px;
    line-height: 48px;
    font-weight: 300;
    color: $site-copy-grey;

    &--lrg {
      font-family: $site-font-montserrat;
      font-size: 36px;
      line-height: 48px;
      font-weight: 300;
      color: $site-blue;
      text-align: center
    }
  }
}

// general section (display: flex; yada yada yada)
.section-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $site-content-max-width;
  margin: $site-gutter-val auto;

  &--lrg {
    max-width: $site-max-width;
  }

  @media screen and (min-width: 960px) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: $site-gutter-val--desktop auto;
  }

  // @2x_retina icons
  &-icon {
    display: block;
    width: 100%;
    max-width: 175px;
    margin: 0 auto;
    height: auto;
  }

  &-icon--email {
    max-width: 40.5px;
  }

  &-icon--graph {
    max-width: 130px;
  }
}

// side bar sections (offset columns)
.section-side-bar {
  flex: 1;
  width: 100%;
  text-align: left;
  margin-right: 30px;

  @media screen and (min-width: 960px) {
    min-width: 100px;
    text-align: right;
    margin-right: 30px;
  }
}

.section-main {
  flex: 6;
}

// flex box sections "cells"
.section-content__cell,
.section-content__article {
  box-sizing: border-box;
  width: 100%;
  flex-basis: 100%;
  padding: 0 0 $site-gutter-val 0;

  @media screen and (min-width: 960px) {
    width: 50%;
    flex-basis: 50%;
    padding: 0 2.5% $site-gutter-val--desktop 5%;

    &:nth-of-type(even) {
      padding: 0 5% $site-gutter-val--desktop 2.5%;
    }
  }
}

// site form styles
.section-form {
  display: flex;
  height: 40px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  &__input {
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
    outline: 0;
    border: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &__button {
    box-sizing: border-box;
    outline: 0;
    border: 0;
    background: #141414;
    color: #fff;
    padding: 0 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
  }
}
// site list styles
.section-content__list {
  &-item {
    font-size: 14px;
    line-height: 22px;
    list-style-image: url('../img/icon-list-item.png');
  }
}

.technology-details {

  .section-content__cell {
    text-align: left;
  }

  &__graph {
    background: $site-grey;
    padding: $site-gutter-val $site-gutter-val 0 $site-gutter-val;

    .site-section__headline {
      text-align: center;
    }

    .site-copy {
      flex: 1;
    }

    .section-content {
      box-sizing: border-box;
      padding: 0 $site-gutter-val;

      &__cell {
        display: flex;
        align-items: center;
      }

      &-icon--graph {
        margin-right: 20px;
      }

      @media screen and (min-width: 960px) {
        padding: 0 $site-gutter-val--desktop;
      }

    }

    @media screen and (min-width: 960px) {
      padding: $site-gutter-val--desktop $site-gutter-val--desktop 0 $site-gutter-val--desktop;
    }
  }

}
